<body>
  <div class="header-container">
    <h1 class="title">{{title}}</h1>
    <div class="spacer"></div>
    <button class="buttonAdd" nz-button (click)="openAddForm()" *ngIf="buttonAddText && isAdmin">
      <fa-icon style="margin-right: 2px;" [icon]="addIcon"></fa-icon>
      {{buttonAddText}}
    </button>
  </div>

    <nz-table #headerTable [nzData]="datosTabla" [nzPageSize]="pageSize" [nzScroll]="{ y: '450px' }">
        <thead>
          <tr>
            <th *ngFor="let header of headerTabla;">
              <ng-container *ngIf="headerDeInteres(header); else regularHeader">
                <div style="display: flex; flex-direction: row; justify-content: space-between; max-width: 200px;" >
                  {{ header }}
                  <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <fa-icon style="color: #8a6a44;" [icon]="buscarIcon"></fa-icon>
                  </nz-filter-trigger>
                </div>
              </ng-container>
              <ng-template #regularHeader>
                {{ header }}
              </ng-template>
            </th>
            <th nzWidth="100px" *ngIf="isAdmin && isEditable"></th>
            <th nzWidth="100px" *ngIf="isAdmin" ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of headerTable.data">
            <td *ngFor="let header of headerTabla">
              {{ getItemValue(item, header) }}
            </td>
            <td class="tableHover" *ngIf="isAdmin && isEditable">
              <fa-icon class="tableIcon" [icon]="editIcon"></fa-icon>
            </td>
            <td class="tableHover" *ngIf="isAdmin">
              <fa-icon class="eliminarIcon" [icon]="eliminarIcon"></fa-icon>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" (click)="search()" class="search-button">Buscar</button>
            <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
          </div>
        </div>
      </nz-dropdown-menu>
</body>