<body>
  <article>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <h1>Bienvenide!</h1>
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su usuario!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Usuario" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su contraseña!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzErrorTip]="errorMessage"
          [nzValidateStatus]="userValidated"
          class="centeredItem"
        >
          <div class="login-form-margin">
            <button nz-button class="login-form-button" [disabled]="disableIngresar" [nzType]="'primary'">Ingresar</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </article>
</body>