<nav>
    <ul>
        <li nzTooltipColor="#395144" nzTooltipTitle="Recetas" nzTooltipPlacement="right" nz-tooltip (click)="navigate('/recetas')">
            <fa-icon [icon]="recetasIcon"></fa-icon>
            <span>Recetas</span>
        </li>
        <li *ngIf="isAdmin" nzTooltipColor="#395144" nzTooltipTitle="Ventas" nzTooltipPlacement="right" nz-tooltip  (click)="navigate('/ventas')">
            <fa-icon [icon]="ventasIcon"></fa-icon>
            <span>Ventas</span>
        </li>
        <li class="stock" (click)="toggleStock()">
            <fa-icon [icon]="stockIcon"></fa-icon>
            <span>Stock</span>
        </li>
        <li class="subLi" *ngIf="showStockList" nzTooltipColor="#395144" nzTooltipTitle="Insumos" nzTooltipPlacement="right" nz-tooltip  (click)="navigate('/insumos')">
            <fa-icon [icon]="insumosIcon"></fa-icon>
            <span>Insumos</span>
        </li>
        <li class="subLi" *ngIf="showStockList" nzTooltipColor="#395144" nzTooltipTitle="Limpieza" nzTooltipPlacement="right" nz-tooltip  (click)="navigate('/limpieza')">
            <fa-icon [icon]="limpiezaIcon"></fa-icon>
            <span>Limpieza</span>
        </li>
        <li class="subLi" *ngIf="showStockList" nzTooltipColor="#395144" nzTooltipTitle="Productos" nzTooltipPlacement="right" nz-tooltip  (click)="navigate('/productos')">
            <fa-icon [icon]="productosIcon"></fa-icon>
            <span>Productos</span>
        </li>
        <li nzTooltipColor="#395144" nzTooltipTitle="Actividades" nzTooltipPlacement="right" nz-tooltip  (click)="navigate('/actividades')">
            <fa-icon [icon]="actividadesIcon"></fa-icon>
            <span>Actividades</span>
        </li>
        <li *ngIf="isAdmin" nzTooltipColor="#395144" nzTooltipTitle="Colaboradorxs" nzTooltipPlacement="right" nz-tooltip (click)="navigate('/colaboradorxs')">
            <fa-icon [icon]="colaboradorxsIcon"></fa-icon>
            <span>Colaboradorxs</span>
        </li>
    </ul>
</nav>